

<h2>Bestel (Stap 1)</h2>
<form method="post" action="next?step=2">
    <p>Alle velden zijn verplicht in te vullen</p>
    <label for="company">Bedrijf</label><br />
    <input type="text" name="company" /> <br />

    <label for="firstname">Voornaam</label><br />
    <input type="text" name="firstname" /> <br />

    <label for="lastname">Achternaam</label><br />
    <input type="text" name="lastname" /> <br /><br/>
    <input type="submit" value="Bestel" name="next" />
</form>

